@media only screen and (max-width: 600px) {
    body{
        height: 200vh;
        width: 100%;
        /* overflow: hidden; */
        background-color: #212121;
    }
    #main{
        /* width: 600px; */
        background-color: #212121;
        
        
    }
    #content{
        flex-direction: column;
    }   
    #content .services .box{
        width: 250px;   
        scale: .9;
    }
    header{
        position: relative;

    }
    .logo-link{
        position:absolute;
        scale: 1.2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav{
        /* display: none; */
        position: absolute;
        left: 20px;
        /* top: 60px; */
        margin: 0;
        padding: 0;
        align-items: normal;
        justify-content: normal;
        display: flex;
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        width: 120px;
        padding: 0;
        margin: 0;
        display: none;
    } 
    
    nav ul a{
        font-size: 1.1rem;
    }
    .login{
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    .fa-bars{
        display: block;
        /* position: absolute; */
        margin-left: 20px;
        margin-top: 15px;
        top: 20px;
        visibility: visible;
    }
    
    #content .projects{
        width: 400px;
    }
    #content{
        align-items: center;
        justify-content: center;
    }
}